.box {
  width: 100px;
  height: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  background-color: lightgray;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.box:hover {
  background-color: gray;
}

.selected {
  background-color: darkgray;
}
