.box {
  width: 100px;
  height: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  background-color: lightgray;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.box:hover {
  background-color: gray;
}

.selected {
  background-color: darkgray;
}

.btn {
  font-size: 1.2rem;
  padding: 10px 15px;
  border-radius: 5px;
  border: 0;
  color: white;
  background-color: green;
}

input, select, label {
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 5px 10px;
}
