.box {
  width: 100px;
  height: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  background-color: lightgray;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.box:hover {
  background-color: gray;
}

.selected {
  background-color: darkgray;
}

.parking_spaces {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.active {
  border: green 3px solid;
  background-color: #F6EEC9;
}

.btn {
  font-size: 1.2rem;
  padding: 10px 15px;
  border-radius: 5px;
  border: 0;
  color: white;
  background-color: green;
}

.unpark {
  font-size: 1rem;
  background-color: #EE4E4E;
}

input, select, label {
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 5px 10px;
}
